<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>@ViewBag.SuccessMessage</h1>
        <h3>@ViewBag.Details</h3>
    </hgroup>

    <div>
            @Html.ActionLink("Back to Form", "AddForm")
        </div>
</body>
</html>
